@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  background: #ca4949;
  margin-left: 15px;
}
.grid{
  display: flex;
  
}
h1{
  color: #7159c1;
  background-color: #f5f5f5;
  width: 500px;
  height: 60px;
  text-align: center;
 
}
.apis{
  display: grid;
  grid-template-columns: 1fr 1fr;
}